<% bgColor ||= '#662B4c' %>
<% angleoffset ||= '-125' %>
<% anglearc ||= '250' %>
<% fgColor ||= '#fff' %>
<% thickness ||= '' %>
<% width ||= '' %>
<% rotation ||= '' %>

<div class="grid-stack-item-content widget widget-meter">
  <h1 class="title"><%= title %></h1>

  <input type="text" data-fgColor="<%= fgColor %>" data-bgColor="<%= bgColor %>" data-rotation="<%= rotation %>" data-angleoffset="<%= angleoffset %>" data-anglearc="<%= anglearc %>" data-readonly="true" data-thickness="<%= thickness %>" data-width="<%= width %>" data-min="<%= min %>" data-max="<%= max %>" value="0" class="meter" >

  <p class="updated-at">Last updated at <%= Time.now.strftime('%H:%M:%S') %></p>
</div>
