<% background_color ||= '#A333C8' %>

<div class="widget widget-meter" style="background-color: <%= background_color %>">
  <h1 class="title"><%= title %></h1>

  <input type="text" data-fgColor="#fff" data-bgColor="#662B4C" data-angleoffset="-125" data-anglearc="250" data-readonly="true" data-min="<%= min %>" data-max="<%= max %>" value="0" class="meter" >

  <p class="updated-at">Last updated at <%= Time.now.strftime('%H:%M:%S') %></p>
</div>
