<% background_color ||= '#FE9A76' %>

<div class="widget widget-text" style="background-color: <%= background_color %>">
  <h1 class="title"><%= title %></h1>

  <h3 class="text"><%= text %></h3>

  <p class="more-info"><%= more_info %></p>

  <p class="updated-at">Last updated at <%= Time.now.strftime('%H:%M:%S') %></p>
</div>
